<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Productos</title>
</head>
<body>
    <h2>Lista de Productos Médicos</h2>
    <a href="{% url 'crear_producto' %}">+ Registrar Nuevo Producto</a>
    <br><br>
    <table border="1">
        <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo_sku }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.modelo }}</td>
            <td>S/ {{ producto.precio_base }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay productos registrados.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>